.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    background-color: lightgray;
}
ul {
    padding: 0px;
    margin: 0px;
    display: flex;

    li {
        list-style: none;
        padding: 5px;
        margin: 5px;
    }
}