html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.33%;
}

.txt-center {
    text-align: center;
}

.card {
    width: 33.3%;
    padding: 4px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}



.bd-1-solid {
    border: 1px solid black;
}